.present
    display: flex
    align-items: center
    justify-content: center
    background: url('./static/img/present.svg') center 180px no-repeat
    padding: 70px 0

    +bp860-block
        background-position: center 90px
    
    @media screen and ( max-width: 650px )
        background-position: center 70px

    @media screen and ( max-width: 620px )
        background-image: url('./static/img/present-sm.svg')
        background-position-y: 70px
        background-position-x: -20px

        
    &-list
        display: flex
        flex-direction: column
        height: 306px
        max-width: 969px
        width: calc(100vw - 45px)
        @media screen and ( max-width: 620px )
            height: auto
        li
            max-width: 180px
            text-align: center
            @media screen and ( max-width: 620px )
                font-size: var(--fz-md)
                margin: 0 0 20px !important
                text-align: left
                max-width: 100%

        li:nth-child(1)
            margin-left: auto

        
        li:nth-child(2)
            margin: auto

        
        


        
        